<!DOCTYPE html>
<link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.css">

<body>
    <!--네이게이션 바 시작-->
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="../" class="navbar-brand">My Profile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'common:loginpage' %}">관리자 로그인</a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <!--네이게이션 바 끝-->
    
    <div class="bs-docs-section clearfix" style="padding-top: 130px; padding-bottom: 30px; margin-left: 5%; margin-right: 5%;">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header" style="padding-bottom: 15px">
                    <h1 id="navbars">나는 누굴까?</h1>
                </div>
                <!-- 왼쪽에 사진 오른쪽에 프로필-->
                <div style="display: flex; width: 100%; height: 50%">
                    <div class="bs-component" style="width: 20%; height: 100%;">
                        <img src="https://ssg.sejong.ac.kr/apply/images/ssg.png" style="height: 100%; width: 100%; margin-left: 5%;">

                    </div>
                    <div class="bs-component" style="width: 80%; height: 100%; margin-left: 5%">
                        <h2>oriotie</h3>
                            <h6>세종대학교 컴퓨터공학과 21학번 </h6>
                            <p>안녕하세요 코딩 응애입니다</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--할 수 있는 언어-->
    <div class="bs-docs-section clearfix" style="padding-top: 130px; padding-bottom: 30px; margin-left: 5%; margin-right: 5%;">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header" style="padding-bottom: 15px">
                    <h1 id="navbars">할줄 아는 언어</h1>
                </div>
                <!-- 왼쪽에 사진 오른쪽에 프로필-->
                <div style="display: flex; width: 100%; height: 50%">
                    <!--사진 시작-->
                    {% for image in images %}
                    <div class="bs-component" style="width: 20%; height: 100%;">
                        <img src="{{image.content}}" style="height: 100%; width: 100%; margin-left: 5%;">
                    </div>
                    {% endfor %}
                    <!--사진 한장 끝-->
                    
                </div>
            </div>
        </div>
    </div>
    <!--할줄 아는 언어 설명 끝-->
    <!-- 업적-->
    <div class="bs-docs-section clearfix" style="padding-top: 130px; padding-bottom: 30px; margin-left: 5%; margin-right: 5%;">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header" style="padding-bottom: 15px">
                    <h1 id="navbars">지금까지 뭐했지</h1>
                </div>
                <!-- 티어 표시 위해 고정-->
                <div class="col-lg-4">
                    <div class="bs-component">
                        <div class="alert alert-dismissible alert-secondary">
                             백준 실버
                        </div>
                    </div>
                </div>
                <!-- 고정 영역 끝-->
                <!-- 내용 요소 시작-->
                {% for achievement in achievements %}
                <div class="col-lg-4">
                    <div class="bs-component">
                        <div class="alert alert-dismissible alert-secondary">
                             {{achievement.content}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- 내용 요소 끝-->

            </div>
        </div>
    </div>
    <!-- 업적 끝 -->
    <!-- 방명록-->
    <div class="bs-docs-section clearfix" style="padding-top: 130px; padding-bottom: 30px; margin-left: 5%; margin-right: 5%;">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header" style="padding-bottom: 15px">
                    <h1 id="navbars">방명록</h1>
                </div>
                <!-- 방명록 폼 시작-->
                
                <form action="/profile/sendmsg" method="post">{% csrf_token %}
                    
                    <!-- 이메일-->
                    <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label mt-4">
                        이름
                    </label>
                    <input type="text" class="form-control" name="user" id="user"  placeholder="홍길동">
                    <small id="emailHelp" class="form-text text-muted">이름은 관리자에게만 공개됩니다</small>
                  </div>
                  <!-- 이메일 끝-->
                  <!-- 메시지 내용-->
                    <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label mt-4">
                        내용
                    </label>
                    <textarea type="text" class="form-control" name="content" id="content" rows="7" placeholder="홍길동"></textarea>
                    <button type="submit" class="btn btn-primary form-label mt-4">Submit</button>

                  </div>
                  <!-- 메시지 내용 끝-->
                </form>
                <!-- 방명록 폼 끝-->

            </div>
        </div>
    </div>
    <!-- 방명록 끝 -->
    
</body>